In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import skimpy

import sys

sys.path.append("../")

from scripts.report.info_dataset import list_dataset
from scripts.report.info_dataset import read_dataset
from scripts.report.info_dataset import infos_dataset

import warnings
warnings.filterwarnings("ignore")

## Verificação dos arquivos contidos no diretório especificado

In [2]:
file_path = '../data/'

In [3]:
list_dataset(file_path)

Não existem arquivos contidos no diretorio: ../data/

In [4]:
list_dataset(file_path)

Existem 2 arquivos contidos no diretorio: ../data/

['file.json', 'file.xlsx']

## Criando o conjunto de dados de trabalho

In [5]:
# A função ler arquivos csv, excel e json
df = read_dataset(file_path, 'file.json')
df.head()

   id    nome  idade          cidade
0   1    João     25       São Paulo
1   2   Maria     30  Rio de Janeiro
2   3   Pedro     28  Belo Horizonte
3   4     Ana     22        Salvador
4   5  Carlos     35        Brasília

## Informações sobre o conjunto de dados

In [6]:
infos_dataset(df)

***********************************INFORMAÇÕES GERAIS SOBRE O CONJUNTO DE DADOS***********************************


5 primeiros registros do conjunto de dados

   id    nome  idade          cidade
0   1    João     25       São Paulo
1   2   Maria     30  Rio de Janeiro
2   3   Pedro     28  Belo Horizonte
3   4     Ana     22        Salvador
4   5  Carlos     35        Brasília

5 últimos registros do conjunto de dados

   id      nome  idade        cidade
5   6   Mariana     27        Recife
6   7     Lucas     31     Fortaleza
7   8   Juliana     29  Porto Alegre
8   9    Rafael     26      Curitiba
9  10  Fernanda     33        Manaus

O conjunto de dados possuí: 10 linha e : 4 colunas.
**********************************************************************
Quantidade de colunas categoricas: 2
**********************************************************************
As colunas categoricas são: ['nome', 'cidade']
**********************************************************************
As colunas numéricas são: 2
**********************************************************************
As colunas numéricas são: ['id', 'idade']
**********************************************************************
A quantidade de valores nulos no conjunto de dados são: 0
**********************************************************************
O conjunto de dados não possuí duplicados

In [8]:
skimpy.skim(df)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 10     │ │ int64       │ 2     │                                                          │
│ │ Number of columns │ 4      │ │ string      │ 2     │                                                          │
│ └───────────────────┴────────┘ └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━┳━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━┳━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━━━┳━━━━━━━━━━┓  │
│ ┃ column_name        ┃ NA   ┃ NA %    ┃ mean    ┃ sd     ┃ p0   ┃ p25   ┃ p50   ┃ p75   ┃ p100    ┃ hist     ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━╇━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━╇━━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━━━━╇━━━━━━━━━━┩  │
│ │ id                 │    0 │       0 │     5.5 │      3 │    1 │   3.2 │   5.5 │   7.8 │      10 │  ▇▃▇▃▇▇  │  │
│ │ idade              │    0 │       0 │      29 │    3.9 │   22 │    26 │    28 │    31 │      35 │  ▃▇▇▇▃▇  │  │
│ └────────────────────┴──────┴─────────┴─────────┴────────┴──────┴───────┴───────┴───────┴─────────┴──────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name               ┃ NA      ┃ NA %       ┃ words per row                ┃ total words              ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━┩  │
│ │ nome                      │       0 │          0 │                            1 │                       10 │  │
│ │ cidade                    │       0 │          0 │                          1.5 │                       15 │  │
│ └───────────────────────────┴─────────┴────────────┴──────────────────────────────┴──────────────────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯